streamlit
unstructured[pdf]
pillow
lxml
chromadb
tiktoken
langchain
langchain-classic
langchain-community
python-dotenv
requests
sentence-transformers
langchain-chroma
langchain-huggingface
torch
transformers>=4.50.0
accelerate
